* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background: rgb(217, 226, 226);
   background: linear-gradient(
      121deg,
      rgba(217, 226, 226, 1) 0%,
      rgba(201, 225, 226, 1) 56%,
      rgba(150, 207, 195, 1) 82%
   );
}

.ok {
   display: grid;
   height: 100vh;
   grid-template-columns: auto;
   grid-template-rows: 1fr 1fr 1fr 1fr;
}

h1,
h2,
h3,
h4,
p {
   color: black;
   font-weight: bold;
}
